:root {
  /* COLORS */
  --black: #000;
  --white: #fff;
  --gray: #757575;
  --antique-white: #f3e2e2;
  --light-gray: #cdcdcd;
  --plump-red: #f88078;
  --light-pink: #ffdddd;
  --green: #4caf50;

  /* FONT */
  --raleway: 'Raleway';
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-weight: 400;
  scroll-behavior: smooth;
}

html {
  font: 62.5% var(--raleway, sans-serif);
  text-align: center;
}

body {
  font-size: 1.6rem;
}

html,
body {
  overflow-x: hidden;
}

.container {
  padding: 2em 1em;
}

/* CSS GROUPING SELECTOR */
img,
em {
  width: 100%;
  max-width: 980px;
}

.margin__auto {
  margin: 0 auto;
}

a,
nav {
  text-decoration: none;
  transition: all ease-in-out 0.25s;
}

.fz-15 {
  font-size: 1.5rem;
}

a,
.color__white {
  color: var(--white);
}

.lh-2 {
  line-height: 2;
}

.fz-18 {
  font-size: 1.8rem;
}

.fw400 {
  font-weight: 400;
}

.grayscale-50 {
  filter: grayscale(50%);
}

.grayscale-75 {
  filter: grayscale(75%);
}

/* HEADER */
header {
  height: 0;
}

nav,
.mb {
  display: none;
}

/* MAIN */
.hero__section,
.invite__section {
  min-height: 100%;
  background: url(https://www.w3schools.com/w3images/wedding_couple.jpg)
    center/cover no-repeat;
}

.hero__text,
.invite {
  padding: 0 5em;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  min-height: 95dvh;
}

#heading,
.invite__title {
  font-size: 6.5rem;
  letter-spacing: 3px;
  line-height: 1.4;
}

#info,
#date,
.permission,
.date__place h3 {
  font-size: 3rem;
  letter-spacing: 3.5px;
}

#info,
.rsvp__title {
  line-height: 1.5;
}

/* WEDDING DETAILS */
.wedding__details,
.venue__details {
  padding: 4em 1em;
  background: var(--antique-white);
}

#couples__name,
.venue__title,
.rsvp__title {
  font-size: 3.5rem;
  color: var(--gray);
  font-weight: 700;
}

.couples__pic,
.venue__place__pic {
  border-radius: 0.5rem;
  margin: 2.5em 0;
}

em,
.cta--btn {
  display: block;
}

.mb-3em {
  margin-bottom: 3em;
  text-align: left;
}

.cta--btn {
  text-align: center;
  max-width: 18rem;
  padding: 2rem 0;
  border-radius: 0.5rem;
}

.details--btn {
  background: var(--black);
}

.details--btn:hover {
  background: var(--light-gray);
  color: var(--black);
}

/* INVITE SECTION */
.invite__section {
  background: url(https://www.w3schools.com/w3images/flowers.jpg) center/cover
    no-repeat;
}

.invite {
  padding: 0;
  gap: 4rem;
}

.invite__title {
  font-size: 6rem;
  letter-spacing: 1.5px;
  padding: 0 2em;
}

.permission {
  letter-spacing: normal;
}

/* VENUE SECTION */
.venue__place__pic {
  margin: 4em 0;
}

.date__place {
  display: flex;
  flex-direction: column;
  line-height: 2.5;
  gap: 1rem;
}

.date__place h3 {
  letter-spacing: normal;
}

/* VENUE & RSVP COMBINE */
.ttu {
  text-transform: uppercase;
}

/* RESPOND SECTION */
.respond__section {
  padding: 4em 1em 5em;
  background: var(--light-pink);
}

.rsvp__title {
  letter-spacing: 4px;
}

.rsvp__date {
  margin: 1em 0 1.5em 0;
  letter-spacing: 4px;
}

.rsvp--btn {
  padding: 0.8em 0;
  font-size: 2.3rem;
  background: var(--plump-red);
}

.rsvp--btn:hover {
  background: var(--light-gray);
  color: var(--black);
}

/* FOOTER -- COPYRIGHT SECTION */
.copyright__section {
  padding: 2.3em 1em;
  background: var(--black);
}

.copyright__website {
  text-decoration: underline;
}

.copyright__website:hover {
  color: var(--green);
}

/* MEDIA QUERIES */
@media only screen and (min-width: 600px) {
  nav {
    width: 100%;
    position: fixed;
    bottom: 0;
    background: var(--antique-white);
    opacity: 0.8;
    z-index: 1;
  }

  nav:hover {
    opacity: 1;
  }

  nav > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    padding: 1em;
  }

  li > a {
    padding: 0.65em 2.5em;
    text-decoration: none;
    color: var(--black);
    font-size: 1.55rem;
  }

  li > a:hover {
    background: var(--light-gray);
    opacity: 1;
  }

  li > .nav__rsvp:hover {
    background: var(--black);
    color: var(--white);
  }

  /* NAVBAR SPACER */
  nav,
  .mb {
    display: block;
  }

  .mb {
    margin-bottom: 3.2em;
  }

  /* VENUE */
  .date__place {
    flex-direction: row;
    justify-content: center;
  }

  .date,
  .place {
    flex: 0 1 500px;
  }
}

@media only screen and (min-width: 900px) {
  li > a {
    padding: 0.65em 4.5em;
  }
}

@media only screen and (min-width: 1200px) {
  li > a {
    padding: 0.65em 7em;
  }
}
